# Source cloud
export SRC_OS_TENANT_NAME=admin
export SRC_OS_USERNAME=admin
export SRC_OS_PASSWORD=admin
export SRC_OS_AUTH_URL="http://192.168.1.2:5000/v2.0/"
export SRC_OS_IMAGE_ENDPOINT="http://192.168.1.2:9292"
export SRC_OS_NEUTRON_ENDPOINT="http://192.168.1.2:9696/"
# Destination cloud parameters
export DST_OS_TENANT_NAME=admin
export DST_OS_USERNAME=admin
export DST_OS_PASSWORD=admin
export DST_OS_AUTH_URL="http://192.168.1.3:5000/v2.0/"
export DST_OS_IMAGE_ENDPOINT="http://192.168.1.3:9292"
export DST_OS_NEUTRON_ENDPOINT="http://192.168.1.3:9696/"
