<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Source cloud information.</title>
</head>
<body>

<h1>Source cloud Information</h1>

<h3>Administrative information</h3>

<p>Openstack services:</p>
<ul>
    {% for service in services %}
    <li>{{service.name}}, {{service.description}}</li>
    {% endfor %}
</ul>
<p>Tenants:</p>
<ul>
    {% for tenant in tenants %}
        <li>{{tenant.name}}
            users:
                    <ul>
                        {% if tenant.name not in ['service', 'services','invisible_to_admin'] %}
                            {% for user in tenants_info[tenant.name]['users'] %}
                                <li>{{user.name}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul></li>
    {% endfor %}
</ul>
users: {{users}} <br />
<p>Users:</p>
<ul>
    {% for user in tenants_info.admin.users %}
        <li>{{user.name}}</li>
    {% endfor %}
</ul>
roles: {{roles}}
Test users:
{% for info in tenants_info %}
    {{info}}
{% endfor %}
</p>

</body>
</html>